*{
  margin:0;
  padding:0;
  font-family:verdana;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  height: auto;
  width: auto;
  
  
  }
  html{
    height: 100%;
    background-attachment: fixed;
    background: linear-gradient(247.28deg,
    #dadada 37.32%,
    #999494 37.43%, rgba(216, 216, 216, 0) 47.24%);
    opacity: 0.8;
    width: 100%;
    height: 1074px;              
    
  }
  /**/  
  
  .photo{
    height: 30%;
    width: auto;
    top: 280px;
    left: 150px;
    border-radius: 40px;
    position:absolute;
    box-shadow: 4px rgb(85, 68, 68) 4px;
  }
  @media only screen and (max-width: 480px) {
    .photo {
      width: 100%;
    }
  }
 
/*    */
.collapsible  {
  top: 480px;
  right: 250px;
  position: relative;
  float: right;
  color: white;
  cursor: pointer;
  padding: 12px;
  width: 120px;;
  text-align: center;
  outline: none;
  font-size: 15px;
  border-radius: 40px;
  font-size: 20px;
  background: rgba( 109, 91, 91, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba(68, 66, 66, 0.18);
  background-color: rgba(87, 86, 86, 0.5);
  box-shadow: 26px 19px 7px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 600ms ease-in;
  animation: cssAnimation_0 1330ms infinite ease-out;
  backdrop-filter: blur(29px);
  -webkit-backdrop-filter: blur(29px);
}

@keyframes cssAnimation_0 {
  from {
    box-shadow: 26px 19px 7px 6px rgba(0, 0, 0, 0.3);
  }

  to {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
}

.element:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}
  
  /**/

.active, .collapsible:hover {
  background-color: rgb(131, 90, 90);
  
}

.content  {
  top: 540px;
  right:70px;
  position: relative;
  float: right;
  padding: 12px 18px;
  margin: 18px;
  width: 45%;
  display: none;
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  color: #000000;
  
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 26px 19px 7px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 300ms ease-out;
  animation: cssAnimation_0 1330ms infinite ease-out;
  backdrop-filter: blur(29px);
  -webkit-backdrop-filter: blur(29px);
}

@keyframes cssAnimation_0 {
  from {
    box-shadow: 26px 19px 7px 6px rgba(0, 0, 0, 0.3);
  }

  to {
    box-shadow: 0px 0px 43px 16px rgba(0, 0, 0, 0.3);
  }
}

.element:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}





/*test area*/




  /* code icons*/
  .contain{
    
    top: 490px;
    position: relative;
    float: right;
    width: 0px;
    line-break:  5px solid #414141;
    padding: 14px;
    text-align: center;
    margin: 20px;
    width: 36px;
   }

  nav{
    mix-blend-mode:normal;
    text-shadow: 3px 3px 5px rgb(83, 82, 82);
    opacity: 0.4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    min-height: 10vh;
    background-color: #959595;
    font-family: 'Poppins', sans-serif;
    
  }
  nav ul li a{
    
    text-decoration: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 40px;
    margin-top:  35px;
    letter-spacing: 3,0px;
    font-size: 27px;
    font-weight: 400;
    border-radius: 10px;
  }
  .logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:26px;
    text-decoration: underline overline;
    text-shadow: #5e5459 5px 5px;
  }
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
    
  }
  
  .nav-links li{
    list-style:none;
    
    
  }
  .nav-links a:hover{
    color: rgb(34, 10, 221);
    text-decoration:underline;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size:  27px;
    
  }
  
  .burger{
    display:none;
    cursor: pointer;
  }
  
  .burger div{
    width:25px;
    height:3px;
    background-color:rgb(252, 252, 252);
    margin: 5px;
    
    transition: all 0.2s ease
    
    
  }
  
  @media screen and (max-width:1024px){
    .nav-links{
      width:40%;
    }
  }
  
  @media screen and (max-width:768px){
    body{
      overflow-x: hidden;
    }
    .nav-links{
      position:absolute;
      right:0px;
      height: 36vh;
      top: 10vh;
      background-color:#7d7d7d;
      display:flex;
      flex-direction: column;  
      align-items: center;
      width:20%;
      transform: translateX(100%);
      transition: transform 0.7s ease-in;
    }
    .nav-links li{
      opacity: 0.7;
    }
    .burger{
      display:block;
    }
  }
  
  .nav-active{
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade{
    from{
      opacity:0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1{
    transform: rotate(-40deg) translate(-5px,6px);
  }
  
  .toggle .line2{
    transform: rotate(90deg) translate(0px,0px);
  }
  
  .toggle .line3{
    transform: rotate(35deg) translate(-5px,-6px);
  }

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: rgb(185, 183, 183);
  box-shadow: #939898 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  
}

.x1{
-webkit-animation: floatUp 4s infinite linear;
-moz-animation: floatUp 4s infinite linear;
-o-animation: floatUp 4s infinite linear;
animation: floatUp 4s infinite linear;
 -webkit-transform: scale(1.0);
 -moz-transform: scale(1.0);
 -o-transform: scale(1.0);
transform: scale(1.0);
}

.x2{
-webkit-animation: floatUp 7s infinite linear;
-moz-animation: floatUp 7s infinite linear;
-o-animation: floatUp 7s infinite linear;
animation: floatUp 7s infinite linear;
-webkit-transform: scale(1.6);
-moz-transform: scale(1.6);
-o-transform: scale(1.6);
transform: scale(1.6);
left: 15%;
}

.x3{
-webkit-animation: floatUp 2.5s infinite linear;
-moz-animation: floatUp 2.5s infinite linear;
-o-animation: floatUp 2.5s infinite linear;
animation: floatUp 2.5s infinite linear;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5);
left: -15%;
}

.x4{
-webkit-animation: floatUp 4.5s infinite linear;
-moz-animation: floatUp 4.5s infinite linear;
-o-animation: floatUp 4.5s infinite linear;
animation: floatUp 4.5s infinite linear;
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
left: -34%;
}

.x5{
-webkit-animation: floatUp 8s infinite linear;
-moz-animation: floatUp 8s infinite linear;
-o-animation: floatUp 8s infinite linear;
animation: floatUp 8s infinite linear;
-webkit-transform: scale(2.2);
-moz-transform: scale(2.2);
-o-transform: scale(2.2);
transform: scale(2.2);
left: -57%;
}

.x6{
-webkit-animation: floatUp 3s infinite linear;
-moz-animation: floatUp 3s infinite linear;
-o-animation: floatUp 3s infinite linear;
animation: floatUp 3s infinite linear;
-webkit-transform: scale(.8);
-moz-transform: scale(.8);
-o-transform: scale(.8);
transform: scale(.8);
left: -81%;
}

.x7{
-webkit-animation: floatUp 5.3s infinite linear;
-moz-animation: floatUp 5.3s infinite linear;
-o-animation: floatUp 5.3s infinite linear;
animation: floatUp 5.3s infinite linear;
-webkit-transform: scale(3.2);
-moz-transform: scale(3.2);
-o-transform: scale(3.2);
transform: scale(3.2);
left: 37%;
}

.x8{
-webkit-animation: floatUp 4.7s infinite linear;
-moz-animation: floatUp 4.7s infinite linear;
-o-animation: floatUp 4.7s infinite linear;
animation: floatUp 4.7s infinite linear;
-webkit-transform: scale(1.7);
-moz-transform: scale(1.7);
-o-transform: scale(1.7);
transform: scale(1.7);
left: 62%;
}

.x9{
-webkit-animation: floatUp 4.1s infinite linear;
-moz-animation: floatUp 4.1s infinite linear;
-o-animation: floatUp 4.1s infinite linear;
animation: floatUp 4.1s infinite linear;
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
-o-transform: scale(0.9);
transform: scale(0.9);
left: 85%;
}

button:focus{
outline: none;
}

@-webkit-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}

.header{
  
position: absolute;
text-align: center;
display:block;
top: 190px;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Roboto', sans-serif;
font-weight: 300;
color: rgb(0, 0, 0);
font-size: 2.5em;
font-weight: bolder;

}
@media only screen and (max-width: 280px) {
  .header {
    width: 100%;
  }
}
#head1, #head2,#head3, #head4, #head5{
opacity: 0;

}

#head1{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;

}

#head2{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
-o-animation-delay: 6s;
animation-delay: 6s;
}

#head3{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;
-webkit-animation-delay: 12s;
-moz-animation-delay: 12s;
-o-animation-delay: 12s;
animation-delay: 12s;
}

#head4{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;
-webkit-animation-delay: 17s;
-moz-animation-delay: 17s;
-o-animation-delay: 17s;
animation-delay: 17s;
}

#head5{
-webkit-animation: finalFade 1 5s ease-in;
-moz-animation: finalFade 1 5s ease-in;
-o-animation: finalFade 1 5s ease-in;
animation: finalFade 1 5s ease-in;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 22s;
-moz-animation-delay: 22s;
-o-animation-delay: 22s;
animation-delay: 22s;
}

@-webkit-keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@-moz-keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@-o-keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@-o-keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}

@-moz-keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}

@-o-keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}

@keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}



/* test two */

footer {
  position: fixed;
          
            padding: 15px 15px 0px 15px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 80px;
            background: rgb(254, 254, 254);
            text-align: center;
            opacity: 0.5;
}

  /* Collapsible
.test{
  height: 40%;
  width: 40%;
}   */
